{% extends "base.html" %}

{% block title %}Register Faculty - {{ super() }}{% endblock %}

{% block content %}
<main class="container main-content">
    <section>
        <h2>add_teachers_details</h2>
        <form action="{{ url_for('add_teacher_details') }}" method="POST">

            <label for="employee_id">teachers id:</label>
            <input type="text" id="employee_id" name="employee_id" required><br><br>

            <label for="invigilator_teacher">Invigilator Teacher:</label>
            <input type="text" id="invigilator_teacher" name="invigilator_teacher" required><br><br>
            
            <label for="branch">Branch:</label>
            <input type="text" id="branch" name="branch" required><br><br>
            
            <input type="submit" value="Submit">
        </form>
    </section>
</main>
{% endblock %}
